<% author = User.find(@post.author_id) %>

<h1>Post <%= '&#35;'.html_safe %> <%=@post.id %>  by <%= author.name %></h1>
<p>Likes: <%= @post.likes_counter %></p>

<p>Comments: <%= @post.comments_counter %></p>
<%= link_to post_likes_path(@post.author_id, @post.id) do %>
  <p><%= "Likes: #{@post.likes_counter}" %></p>
    <% end %>
  <%= form_with url: post_likes_path(@post.author_id, @post.id) do |form| %>
   <a><%= form.submit 'Like' %></a>
  <% end %>
</div>

<%= @post.text %>

<h2>Comments</h2>
<ul>
  <% @post.comments.each do |comment| %>
    <li>
    <%= comment.user.name %>: <%= comment.text %> 
    </li>
  <% end %>

  <%= form_with(model: @comment, url: post_comments_path(@post)) do |form| %>
      <%= form.label :text, 'Comment' %>
      <%= form.text_area :text, placeholder: 'Enter your comment...', required: true %>
      <%= form.submit 'Create Comment', class: 'submit-button' %>
    <% end %>
</ul>

